:root {
  --body-bg: #000000;
  --primary: #36d34b;
  --danger: #ff4040;
  --translucent: rgba(0, 0, 0, 0.5);
  --top-bar-bg: rgba(18, 25, 21, 0.764);
  --active-carplay: #00e448;
  --box-shadow: 0 0.25rem 0.5rem 0 rgba(0, 0, 0, 0.3);
  --container-border-radius: 0.75rem;
  --fgColor-base: #ffffff;
  --fgColor-muted: #aecbb8;
  --panel-bg: rgba(153, 188, 165, 0.15);
  --panel-charging: rgb(15, 99, 47);
  --charging-base: #00e448;
  --charging-dark: #04542c;
  // Sizes
  --top-bar-height: 2rem;
}

@import './styles/type';
@import './styles/panel';
@import './styles/components';
@import './styles/grid';
@import './styles/buttons';
// @import './styles/spacing';
// @import './styles/border';
// @import './styles/progress';

// @import './styles/components/loading-video';
// @import './styles/components/launcher';

.app {
  animation: app-entrance 2s ease-in-out;
}

html,
body,
#root {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: 'Rubik';
  font-size: 20px;
}

body {
  background-color: var(--body-bg);
  color: var(--fgColor-base);
  animation: bootAnimation 1s ease-out;

  &::-webkit-scrollbar {
    width: 0.75rem;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--translucent);
    border-radius: 0.5rem;
    border: 0.2rem solid var(--panel-bg);
  }
  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@keyframes bootAnimation {
  from {
    opacity: 0;
    transform: scale(0.9)
  }
  to {
    opacity: 1;
  }
}

