[Unit]
Description=Gunicorn instance to serve Quart DefenderOS Server
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/defender-os-node/python
ExecStart=/home/pi/defender-os-node/python/env/bin/gunicorn -k uvicorn.workers.UvicornWorker --workers 2 --bind 0.0.0.0:5000 main:application --log-level debug --access-logfile -

[Install]
WantedBy=multi-user.target
