[Unit]
Description=Start X with no cursor
After=multi-user.target

[Service]
ExecStart=/usr/bin/startx -- -nocursor
User=pi
Environment=DISPLAY=:0
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
