.border {
  border-style: solid;
  border-color: rgba(255,255,255, 0.2);
  border-width: 0;
}

.border-xy {
  border-width: 0.0625rem;
}

.border-t {
  border-top-width: 0.0625rem;
}

.border-b {
  border-bottom-width: 0.0625rem
}

.border-dark {
  border-color: rgba(0,0,0);
}
