.btn {
  --btn-color: var(--fgColor-muted);
  background: transparent;
  border: 2px solid var(--btn-color);
  color: var(--btn-color);
  border-radius: 50cqh;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.8rem;

  &:hover {
    background-color: var(--btn-color);
    color: var(--fgColor-base);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &.btn-lg {
    font-size: 1.25rem;
    padding: 0.75rem 1.5rem;
  }
}

.btn-primary {
  --btn-color: var(--primary);
}

.btn-danger {
  --btn-color: var(--danger);
}


