.panel {
  border: 1px solid var(--panel-bg);
  border-radius: 0.5rem;
  background: var(--panel-bg);
  box-shadow: var(--box-shadow);
  padding: 0.75rem;
  box-sizing: border-box;
  width: 100%;

  .panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0.75rem;

    h2 {
      margin: 0;
    }
  }

  .icon {
    vertical-align: -0.15em;
    margin-right: 0.25rem;
  }
}
